<% if current_user %>
<h2> Loggend in as: <%=current_user.username%></h2>
<%@att=Attendee.new%>
<%= link_to("Create Event",:action => "new")%>
<% else %>
  <%= link_to "Log in", :controller=> "users", :action=> "sign_in" %><br />
<%end%>
<table>
    <tr>
      <th>&nbsp;</th>
      <th>Place</th>
      <th>Created at</th>
      <th>Host</th>
    </tr>
    <% @event.each do |event| %>
    <tr>
      <td><%= event.place %></td>
            <td><%= event.created_at %></td>
      <td class="actions">
      <%= link_to("Show", {:action => 'show', :id => event.id}, :class => 'action show') %>
      <% if current_user %>
      <%= link_to("Delete",{:action => "delete", :id => event.id}) %>
      <%end%>
            <%= link_to("Create",{:action => "new", :id => event.id}) %>
              <%= link_to("Invite",{:controller => "invitations",:action => "new", :id => event.id}) %>

    </td>
</tr>
<%end%>
         <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</table>